body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1498522271744-cdd435c13f24?auto=format&fit=crop&q=60&w=500&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGZvb2QlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: bold;
}
h1{
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product p {
    margin-bottom: 10px;
}
.product img {
    transition: transform 0.5s ease;
}

.product:hover img {
    transform: scale(1.1);
}

button {
    transition: background-color 0.5s ease;
}

.product:hover button {
    background-color: #4CAF50;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}