body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    h1{
        text-decoration: underline;
        text-transform: uppercase;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    header {
    background-color: #b138a7;
    color: rgb(21, 23, 24);
    padding: 10px 0;
    text-align: center;
    }
    
    nav ul {
    list-style: none;
    }
    
    nav ul li {
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: serif;
    }
    
    nav ul li a {
    color: rgb(20, 19, 19);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    }
 
 
    
    .products {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 700;
    }
    
    .product {
    border: 1px solid #b0d8df;
    padding: 20px;
    text-align: center;
    margin: 10px;
    text-transform: uppercase;
    }
    
    .product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    
    }
    
    .product button {
    background-color: #e27979;
    color: rgb(17, 18, 19);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    }
    
    .product button:hover {
    background-color: #d37d7d;
    }

    footer {
        background-color: #ac38a6;
        color: rgb(16, 18, 19);
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: bold;
        }